h1 {
  display: flex;
  justify-content: center;
}

.board {
  height: 50em;
  display: flex;
  flex-direction: column;
}

.row {
  height: 50px;
  flex: 1;
  display: flex;
}

.square {
  flex: 1;
  border-color: transparent;
  border: solid 5px black;
}
